{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="custom-select mb-3" name="symbol" placeholder="Symbol" type="text">
          <option value="None" selected>Choose a symbol</option>
          {% for stock in stocks %}
          <option value="{{stock.stock}}">{{stock.stock}}</option>
          {% endfor %}
        </select>
        <div class="form-group">
            <input class="form-control bfh-number" name="shares" placeholder="N° of shares" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
